# Preprocessing of the data

In [1]:
import geopandas as gpd
import pandas as pd
import numpy as np
import json

## Tree data

In [2]:
df_trees = gpd.read_file('../data/geo_data_trees.geojson')
df_trees = df_trees[~df_trees['Tree ID'].isna()]
df_trees = df_trees.astype({'Tree ID': 'int32'})
df_trees = df_trees.set_index('Tree ID')

df_trees.head()

,Name,DBH (cm),Replacement Value (eur),Carbon Storage (kg),Carbon Storage (eur),Gross Carbon Sequestration (kg/yr),Gross Carbon Sequestration (eur/yr),Avoided Runoff (mcube/yr),Avoided Runoff (eur/yr),Carbon Avoided (kg/yr),...,Oxygen Production (kg/yr),Height (m),Crown Height (m),Crown Width (m),Canopy Cover (m2),Leaf Area (m2),Leaf Biomass (kg),Latitude,Longitude,geometry
Tree ID,,,,,,,,,,,,,,,,,,,,,
1,Acer pseudoplatanus,8,179.43,12,1.92,1.1,0.17,0,0.01,None,...,2.8,3.5,1,1.5,1.8,3.5,0.2,46.051599,11.072014,POINT (11.07201 46.05160)
2,Acer pseudoplatanus,8,179.43,12.9,2.07,1.1,0.18,0,0.01,None,...,3,5,1.5,1.5,1.8,4.2,0.3,46.051541,11.072108,POINT (11.07211 46.05154)
3,Acer pseudoplatanus,9,227.09,16.2,2.61,1.3,0.2,0,0.01,None,...,3.4,4.5,1.3,1.5,1.8,4,0.3,46.051668,11.071959,POINT (11.07196 46.05167)
4,Acer pseudoplatanus,11,482.46,25.7,4.13,1.6,0.26,0,0.02,None,...,4.3,5,1.5,2.5,4.9,7.1,0.5,46.063778,11.150170,POINT (11.15017 46.06378)
7,Cupressus,25,1110.29,448.2,72.02,11.1,1.78,0,0.02,None,...,29.5,8,2.4,1.5,1.8,6.6,1.5,46.052305,11.071550,POINT (11.07155 46.05230)

In [3]:
df_trees.to_csv('../data_clean/trees.csv')

## Circoscrizioni

In [4]:
df_circoscrizioni = gpd.read_file('../data/circoscrizioni.json')
df_circoscrizioni = df_circoscrizioni.rename({
    'numero_cir':'Circoscrizione ID',
    'area': 'Circoscrizione Area',
    'perimetro': 'Circoscrizione Perimeter',
    'nome': 'Circoscrizione Name',
    'fumetto': 'Circoscrizione Full Name'
}, axis=1)
df_circoscrizioni = df_circoscrizioni.set_index('Circoscrizione ID')

df_circoscrizioni.head()

,Circoscrizione Area,Circoscrizione Perimeter,Circoscrizione Name,Circoscrizione Full Name,geometry
Circoscrizione ID,,,,,
2,15712181,17850,MEANO,Circoscrizione n. 2 - MEANO,"POLYGON ((11.15678 46.11661, 11.15687 46.11666..."
3,36949609,38485,BONDONE,Circoscrizione n. 3 - BONDONE,"POLYGON ((11.08026 46.11571, 11.08026 46.11571..."
4,8663138,16403,SARDAGNA,Circoscrizione n. 4 - SARDAGNA,"POLYGON ((11.09034 46.07917, 11.09032 46.07899..."
6,13199398,20575,ARGENTARIO,Circoscrizione n. 6 - ARGENTARIO,"POLYGON ((11.17163 46.08095, 11.17161 46.08106..."
11,3073349,10962,S.GIUSEPPE-S.CHIARA,Circoscrizione n. 11 - S.GIUSEPPE-S.CHIARA,"POLYGON ((11.11135 46.05878, 11.11137 46.05878..."

In [5]:
df_tree_circo = gpd.tools.sjoin(df_trees, df_circoscrizioni, predicate="within", how='left')

df_tree_circo = df_tree_circo.drop('index_right', axis=1)

df_tree_circo.head()

,Name,DBH (cm),Replacement Value (eur),Carbon Storage (kg),Carbon Storage (eur),Gross Carbon Sequestration (kg/yr),Gross Carbon Sequestration (eur/yr),Avoided Runoff (mcube/yr),Avoided Runoff (eur/yr),Carbon Avoided (kg/yr),...,Canopy Cover (m2),Leaf Area (m2),Leaf Biomass (kg),Latitude,Longitude,geometry,Circoscrizione Area,Circoscrizione Perimeter,Circoscrizione Name,Circoscrizione Full Name
Tree ID,,,,,,,,,,,,,,,,,,,,,
1,Acer pseudoplatanus,8,179.43,12,1.92,1.1,0.17,0,0.01,None,...,1.8,3.5,0.2,46.051599,11.072014,POINT (11.07201 46.05160),8663138,16403,SARDAGNA,Circoscrizione n. 4 - SARDAGNA
2,Acer pseudoplatanus,8,179.43,12.9,2.07,1.1,0.18,0,0.01,None,...,1.8,4.2,0.3,46.051541,11.072108,POINT (11.07211 46.05154),8663138,16403,SARDAGNA,Circoscrizione n. 4 - SARDAGNA
3,Acer pseudoplatanus,9,227.09,16.2,2.61,1.3,0.2,0,0.01,None,...,1.8,4,0.3,46.051668,11.071959,POINT (11.07196 46.05167),8663138,16403,SARDAGNA,Circoscrizione n. 4 - SARDAGNA
4,Acer pseudoplatanus,11,482.46,25.7,4.13,1.6,0.26,0,0.02,None,...,4.9,7.1,0.5,46.063778,11.150170,POINT (11.15017 46.06378),15433274,18464,POVO,Circoscrizione n. 7 - POVO
7,Cupressus,25,1110.29,448.2,72.02,11.1,1.78,0,0.02,None,...,1.8,6.6,1.5,46.052305,11.071550,POINT (11.07155 46.05230),8663138,16403,SARDAGNA,Circoscrizione n. 4 - SARDAGNA

## Poli Sociali

In [6]:
df_poli = gpd.read_file('../data/poli_sociali.json')
df_poli = df_poli.rename({
    'cod_quart': 'Quartiere ID',
    'nome_quart': 'Quartiere Name',
    'area': 'Quartiere Area',
    'perimetro': 'Quartiere Perimeter'
}, axis=1)
df_poli = df_poli.set_index('Quartiere ID')
df_poli = df_poli[['Quartiere Name', 'Quartiere Area', 'Quartiere Perimeter', 'geometry']]
df_poli['Quartiere Name'] = df_poli['Quartiere Name'].str.replace("'",'')

df_poli.head()

,Quartiere Name,Quartiere Area,Quartiere Perimeter,geometry
Quartiere ID,,,,
21,SAN PIO X,244180,2404,"POLYGON ((11.12470 46.05642, 11.12448 46.05687..."
6,CAMPOTRENTINO,1517895,5807,"POLYGON ((11.10914 46.09449, 11.10896 46.09441..."
28,SAN BARTOLOMEO,550103,4403,"POLYGON ((11.13564 46.05095, 11.13552 46.05106..."
31,VILLAZZANO,7356368,15014,"POLYGON ((11.13986 46.05708, 11.13976 46.05709..."
27,CLARINA,1969068,7958,"POLYGON ((11.12193 46.05330, 11.12141 46.05268..."

In [7]:
df_tree_circo_poli = gpd.tools.sjoin(df_tree_circo, df_poli, predicate="within", how='left')
df_tree_circo_poli = df_tree_circo_poli.drop('index_right', axis=1)
df_tree_circo_poli.head()

,Name,DBH (cm),Replacement Value (eur),Carbon Storage (kg),Carbon Storage (eur),Gross Carbon Sequestration (kg/yr),Gross Carbon Sequestration (eur/yr),Avoided Runoff (mcube/yr),Avoided Runoff (eur/yr),Carbon Avoided (kg/yr),...,Latitude,Longitude,geometry,Circoscrizione Area,Circoscrizione Perimeter,Circoscrizione Name,Circoscrizione Full Name,Quartiere Name,Quartiere Area,Quartiere Perimeter
Tree ID,,,,,,,,,,,,,,,,,,,,,
1,Acer pseudoplatanus,8,179.43,12,1.92,1.1,0.17,0,0.01,None,...,46.051599,11.072014,POINT (11.07201 46.05160),8663138,16403,SARDAGNA,Circoscrizione n. 4 - SARDAGNA,SARDAGNA,8654976,16320
2,Acer pseudoplatanus,8,179.43,12.9,2.07,1.1,0.18,0,0.01,None,...,46.051541,11.072108,POINT (11.07211 46.05154),8663138,16403,SARDAGNA,Circoscrizione n. 4 - SARDAGNA,SARDAGNA,8654976,16320
3,Acer pseudoplatanus,9,227.09,16.2,2.61,1.3,0.2,0,0.01,None,...,46.051668,11.071959,POINT (11.07196 46.05167),8663138,16403,SARDAGNA,Circoscrizione n. 4 - SARDAGNA,SARDAGNA,8654976,16320
4,Acer pseudoplatanus,11,482.46,25.7,4.13,1.6,0.26,0,0.02,None,...,46.063778,11.150170,POINT (11.15017 46.06378),15433274,18464,POVO,Circoscrizione n. 7 - POVO,POVO,10141977,19371
7,Cupressus,25,1110.29,448.2,72.02,11.1,1.78,0,0.02,None,...,46.052305,11.071550,POINT (11.07155 46.05230),8663138,16403,SARDAGNA,Circoscrizione n. 4 - SARDAGNA,SARDAGNA,8654976,16320

In [8]:
df_tree_circo_poli.to_csv('../data_clean/trees_located.csv')

In [9]:
df_circo_poli = df_tree_circo_poli.groupby(['Circoscrizione Name'])[['Quartiere Name']]\
                                .agg(['unique'])['Quartiere Name']\
                                .rename({'unique': 'Quartiere Name'}, axis=1)

df_circo_poli.head()

                                                                 Quartiere Name
Circoscrizione Name
ARGENTARIO                    [COGNOLA, VILLAMONTAGNA, SAN DONA-LASTE - 2, M...
BONDONE                       [SOPRAMONTE, CADINE, VIGOLO BASELGA, BASELGA D...
CENTRO STORICO PIEDICASTELLO  [CENTRO STORICO, SOLTERI-CENTOCHIAVI, CAMPOTRE...
GARDOLO                       [MELTA, LAMAR, SPINI-GHIAIE, GARDOLO, CANOVA, ...
MATTARELLO                                               [MATTARELLO, VALSORDA]

In [10]:
df_circo_poli.to_json('../data_clean/circo_poli.json')

## Assignment 1: Comparing Categories

### Viz 1: Tree abundance

In [11]:
df_tree_abundance = df_trees
df_tree_abundance['Count'] = 1
df_tree_abundance = df_tree_abundance.groupby(['Name'], axis=0)[['Count']].sum('Count').sort_values('Count', ascending=False)
df_tree_abundance.head()

                        Count
Name
Celtis australis         1028
Aesculus hippocastanum    581
Carpinus betulus          536
Tilia cordata             509
Platanus x hispanica      502

In [12]:
df_tree_abundance.to_csv('../data_clean/a1_v1_tree_abundance.csv')

### Top 5 Circoscrizioni

In [13]:
df_circo_counts = df_tree_circo.groupby('Circoscrizione Name')['Circoscrizione Name'].count()
top_circo = df_circo_counts.sort_values(ascending=False)

### Top 5 Trees

In [14]:
df_most_abundant_trees = df_tree_abundance[:5]
df_most_abundant_trees

                        Count
Name
Celtis australis         1028
Aesculus hippocastanum    581
Carpinus betulus          536
Tilia cordata             509
Platanus x hispanica      502

In [15]:
top_trees = list(df_most_abundant_trees.index)
other_trees = [tree for tree in list(df_trees['Name'].unique()) if tree not in top_trees]

### Viz 2: Stacked bar chart with small multiples

In [16]:
df_circo_tree_counts = pd.crosstab(df_tree_circo['Circoscrizione Name'], df_tree_circo['Name'])

other_tree_sum_column = df_circo_tree_counts[other_trees].sum(axis=1)
df_circo_tree_counts = df_circo_tree_counts[top_trees]
df_circo_tree_counts['Other'] = other_tree_sum_column

df_circo_tree_counts = df_circo_tree_counts.sort_values(by='Celtis australis', ascending=False)

df_circo_tree_counts

Name,Celtis australis,Aesculus hippocastanum,Carpinus betulus,Tilia cordata,Platanus x hispanica,Other
Circoscrizione Name,,,,,,
OLTREFERSINA,341,34,126,116,31,2047
CENTRO STORICO PIEDICASTELLO,242,91,159,55,192,2225
GARDOLO,211,4,53,216,169,998
S.GIUSEPPE-S.CHIARA,83,405,123,31,53,2329
ARGENTARIO,61,9,18,5,12,349
MATTARELLO,25,1,13,6,6,213
POVO,21,13,1,1,2,151
VILLAZZANO,19,0,33,35,3,326
RAVINA-ROMAGNANO,15,3,5,34,23,239
MEANO,9,0,2,1,9,185
BONDONE,1,21,3,9,2,256
SARDAGNA,0,0,0,0,0,38

In [17]:
df_circo_tree_counts.to_csv('../data_clean/a1_v2_stacked_chart.csv')

### Viz 3: Stacked bar with small multiples

In [18]:
df_circo_tree_counts_tot = df_circo_tree_counts.loc[list(top_circo.index)]
df_circo_tree_counts_tot['Total'] = df_circo_tree_counts.sum(axis=1)
df_circo_tree_counts_tot = df_circo_tree_counts_tot.sort_values('Total', ascending=False)

df_circo_tree_counts_tot

Name,Celtis australis,Aesculus hippocastanum,Carpinus betulus,Tilia cordata,Platanus x hispanica,Other,Total
Circoscrizione Name,,,,,,,
S.GIUSEPPE-S.CHIARA,83,405,123,31,53,2329,3024
CENTRO STORICO PIEDICASTELLO,242,91,159,55,192,2225,2964
OLTREFERSINA,341,34,126,116,31,2047,2695
GARDOLO,211,4,53,216,169,998,1651
ARGENTARIO,61,9,18,5,12,349,454
VILLAZZANO,19,0,33,35,3,326,416
RAVINA-ROMAGNANO,15,3,5,34,23,239,319
BONDONE,1,21,3,9,2,256,292
MATTARELLO,25,1,13,6,6,213,264
MEANO,9,0,2,1,9,185,206
POVO,21,13,1,1,2,151,189
SARDAGNA,0,0,0,0,0,38,38

In [19]:
df_circo_tree_counts_tot.to_csv('../data_clean/a1_v3_stacked_chart_tot.csv')

### Viz 4: Stacked bar chart 100%

In [20]:
circo_totals = df_circo_tree_counts_tot['Total'].astype(float).values
circo_totals = circo_totals.reshape((circo_totals.shape[0],1))
df_circo_tree_counts_perc = df_circo_tree_counts_tot.astype(float) / circo_totals * 100
df_circo_tree_counts_perc

Name,Celtis australis,Aesculus hippocastanum,Carpinus betulus,Tilia cordata,Platanus x hispanica,Other,Total
Circoscrizione Name,,,,,,,
S.GIUSEPPE-S.CHIARA,2.744709,13.392857,4.067460,1.025132,1.752646,77.017196,100.0
CENTRO STORICO PIEDICASTELLO,8.164642,3.070175,5.364372,1.855601,6.477733,75.067476,100.0
OLTREFERSINA,12.653061,1.261596,4.675325,4.304267,1.150278,75.955473,100.0
GARDOLO,12.780133,0.242277,3.210176,13.082980,10.236220,60.448213,100.0
ARGENTARIO,13.436123,1.982379,3.964758,1.101322,2.643172,76.872247,100.0
VILLAZZANO,4.567308,0.000000,7.932692,8.413462,0.721154,78.365385,100.0
RAVINA-ROMAGNANO,4.702194,0.940439,1.567398,10.658307,7.210031,74.921630,100.0
BONDONE,0.342466,7.191781,1.027397,3.082192,0.684932,87.671233,100.0
MATTARELLO,9.469697,0.378788,4.924242,2.272727,2.272727,80.681818,100.0
MEANO,4.368932,0.000000,0.970874,0.485437,4.368932,89.805825,100.0
POVO,11.111111,6.878307,0.529101,0.529101,1.058201,79.894180,100.0
SARDAGNA,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000,100.0

In [21]:
df_circo_tree_counts_perc.to_csv('../data_clean/a1_v4_stacked_chart_perc.csv')

### Viz 5: Waffle chart

Can use same data as viz4

In [22]:
df_circo_tree_counts_perc.to_csv('../data_clean/a1_v5_waffle_chart.csv')

## Assignment 2: Distributions and Correlations

### Viz 1: Histogram (Tree size)

In [23]:
df_tree_size_values = df_trees[[
    'Height (m)', 
    'Crown Height (m)', 
    'Crown Width (m)',
    'Canopy Cover (m2)', 
    'Leaf Area (m2)'
]]

df_tree_size_values.head()

,Height (m),Crown Height (m),Crown Width (m),Canopy Cover (m2),Leaf Area (m2)
Tree ID,,,,,
1,3.5,1,1.5,1.8,3.5
2,5,1.5,1.5,1.8,4.2
3,4.5,1.3,1.5,1.8,4
4,5,1.5,2.5,4.9,7.1
7,8,2.4,1.5,1.8,6.6

In [24]:
df_tree_size_values.to_csv('../data_clean/a2_v1_trees_metrics.csv')

### Viz 2: Boxplot (Tree size?)

Same values as viz1 can be used

In [25]:
df_tree_size_values.to_csv('../data_clean/a2_v2_trees_metrics.csv')

### Viz 3: Scatterplot (Size - CO2)

In [26]:
df_tree_size_carbon = df_trees[[
    'Name',
    'Height (m)', 
    'Crown Height (m)', 
    'Crown Width (m)',
    'Canopy Cover (m2)', 
    'Leaf Area (m2)',
    'Carbon Storage (kg)'
]]

df_tree_size_carbon = df_tree_size_carbon.set_index('Name')

df_tree_size_carbon.head()

,Height (m),Crown Height (m),Crown Width (m),Canopy Cover (m2),Leaf Area (m2),Carbon Storage (kg)
Name,,,,,,
Acer pseudoplatanus,3.5,1,1.5,1.8,3.5,12
Acer pseudoplatanus,5,1.5,1.5,1.8,4.2,12.9
Acer pseudoplatanus,4.5,1.3,1.5,1.8,4,16.2
Acer pseudoplatanus,5,1.5,2.5,4.9,7.1,25.7
Cupressus,8,2.4,1.5,1.8,6.6,448.2

In [27]:
df_tree_size_carbon.to_csv('../data_clean/a2_v3_trees_size_carbon.csv')

### Viz 4: Small multiple scatter plot (Top6 trees - Size - CO2)

In [28]:
top6_trees = df_tree_abundance[:6]
top6_trees = list(top6_trees.index)

top6_trees

['Celtis australis',
 'Aesculus hippocastanum',
 'Carpinus betulus',
 'Tilia cordata',
 'Platanus x hispanica',
 'Tilia x europaea']

In [29]:
df_tree_size_carbon_6 =  df_trees.set_index('Name').loc[top6_trees]

df_tree_size_carbon_6.head()

,DBH (cm),Replacement Value (eur),Carbon Storage (kg),Carbon Storage (eur),Gross Carbon Sequestration (kg/yr),Gross Carbon Sequestration (eur/yr),Avoided Runoff (mcube/yr),Avoided Runoff (eur/yr),Carbon Avoided (kg/yr),Carbon Avoided (eur/yr),...,Height (m),Crown Height (m),Crown Width (m),Canopy Cover (m2),Leaf Area (m2),Leaf Biomass (kg),Latitude,Longitude,geometry,Count
Name,,,,,,,,,,,,,,,,,,,,,
Celtis australis,16,667.22,19.6,3.14,0.8,0.14,0.1,0.15,None,None,...,6,1.8,6,28.3,43.9,2.6,46.041750,11.141529,POINT (11.14153 46.04175),1
Celtis australis,16,667.22,19.6,3.14,0.8,0.14,0.1,0.2,None,None,...,6,1.8,6,28.3,57,3.4,46.041787,11.141566,POINT (11.14157 46.04179),1
Celtis australis,166,22794.92,1075.4,172.78,0.1,0.02,0.2,0.4,None,None,...,6,1.8,6,28.3,115.3,6.8,46.041599,11.141552,POINT (11.14155 46.04160),1
Celtis australis,14,585.59,15.6,2.5,0.8,0.12,0.1,0.12,None,None,...,5.5,1.7,5,19.6,34.3,2,46.041525,11.141575,POINT (11.14158 46.04153),1
Celtis australis,16,667.22,19.6,3.14,0.8,0.14,0.1,0.19,None,None,...,6.5,1.9,6,28.3,55,3.2,46.041482,11.141634,POINT (11.14163 46.04148),1

In [30]:
df_tree_size_carbon_6.to_csv('../data_clean/a2_v4_trees_size_carbon_6.csv')

### Viz 5: Bubble plot (Size - CO2 - Canopy size)

In [31]:
df_tree_size_carbon_6.columns

Index(['DBH (cm)', 'Replacement Value (eur)', 'Carbon Storage (kg)',
       'Carbon Storage (eur)', 'Gross Carbon Sequestration (kg/yr)',
       'Gross Carbon Sequestration (eur/yr)', 'Avoided Runoff (mcube/yr)',
       'Avoided Runoff (eur/yr)', 'Carbon Avoided (kg/yr)',
       'Carbon Avoided (eur/yr)', 'Pollution Removal (g/yr)',
       'Pollution Removal (eur/yr)', 'Energy Savings (eur/yr)',
       'Total Annual Benefits (eur/yr)', 'Oxygen Production (kg/yr)',
       'Height (m)', 'Crown Height (m)', 'Crown Width (m)',
       'Canopy Cover (m2)', 'Leaf Area (m2)', 'Leaf Biomass (kg)', 'Latitude',
       'Longitude', 'geometry', 'Count'],
      dtype='object')

## Assignment 3

In [32]:
df_circoscrizioni = df_circoscrizioni.reset_index()
df_circoscrizioni.index = df_circoscrizioni['Circoscrizione Name']
df_circoscrizioni.head()

,Circoscrizione ID,Circoscrizione Area,Circoscrizione Perimeter,Circoscrizione Name,Circoscrizione Full Name,geometry
Circoscrizione Name,,,,,,
MEANO,2,15712181,17850,MEANO,Circoscrizione n. 2 - MEANO,"POLYGON ((11.15678 46.11661, 11.15687 46.11666..."
BONDONE,3,36949609,38485,BONDONE,Circoscrizione n. 3 - BONDONE,"POLYGON ((11.08026 46.11571, 11.08026 46.11571..."
SARDAGNA,4,8663138,16403,SARDAGNA,Circoscrizione n. 4 - SARDAGNA,"POLYGON ((11.09034 46.07917, 11.09032 46.07899..."
ARGENTARIO,6,13199398,20575,ARGENTARIO,Circoscrizione n. 6 - ARGENTARIO,"POLYGON ((11.17163 46.08095, 11.17161 46.08106..."
S.GIUSEPPE-S.CHIARA,11,3073349,10962,S.GIUSEPPE-S.CHIARA,Circoscrizione n. 11 - S.GIUSEPPE-S.CHIARA,"POLYGON ((11.11135 46.05878, 11.11137 46.05878..."

In [33]:
df_poli = df_poli.reset_index()
df_poli.index = df_poli['Quartiere Name']
df_poli.head()

,Quartiere ID,Quartiere Name,Quartiere Area,Quartiere Perimeter,geometry
Quartiere Name,,,,,
SAN PIO X,21,SAN PIO X,244180,2404,"POLYGON ((11.12470 46.05642, 11.12448 46.05687..."
CAMPOTRENTINO,6,CAMPOTRENTINO,1517895,5807,"POLYGON ((11.10914 46.09449, 11.10896 46.09441..."
SAN BARTOLOMEO,28,SAN BARTOLOMEO,550103,4403,"POLYGON ((11.13564 46.05095, 11.13552 46.05106..."
VILLAZZANO,31,VILLAZZANO,7356368,15014,"POLYGON ((11.13986 46.05708, 11.13976 46.05709..."
CLARINA,27,CLARINA,1969068,7958,"POLYGON ((11.12193 46.05330, 11.12141 46.05268..."

In [34]:
def geojson_to_dict(df):
    gpd.GeoDataFrame(df).to_file('temp.json', driver='GeoJSON')
    with open("temp.json", "r") as outfile:
         output_dict = json.load(outfile)
    return output_dict

In [36]:
output_dicts = []

for circo, quarts  in df_circo_poli.to_dict()['Quartiere Name'].items():
    circo_area = df_circoscrizioni.loc[circo,'Circoscrizione Area']
    
    quarts = quarts.tolist()
    if circo == 'OLTREFERSINA':
        quarts.remove('POVO')
        
    circo_quarts = []
    circo_tree_count = 0
    circo_canopy_cover = 0
    circo_oxygen_prod = 0
    
    for quart in quarts:
        quart_area = df_poli.loc[quart, 'Quartiere Area']
        
        trees = df_tree_circo_poli.loc[df_tree_circo_poli['Quartiere Name'] == quart]
        
        # Tree count
        tree_count = trees.Name.count()
        circo_tree_count += tree_count
        
        # Canopy cover
        canopy_cover = trees['Canopy Cover (m2)'].astype('float').sum()
        circo_canopy_cover += canopy_cover
        
        # Oxygen prod
        oxygen_prod = trees['Oxygen Production (kg/yr)'].astype('float').sum()
        circo_oxygen_prod += oxygen_prod
        
        out_quart_dict = {
            'geometry': df_poli.loc[quart, 'geometry'],
            'Name': quart,
            'Area': str(quart_area),
            'Count': str(tree_count),
            'Canopy Cover (m2)': str(canopy_cover),
            'Canopy Cover Density (perc)': str(100 * canopy_cover / quart_area),
            'Oxygen Production (kg/yr)': str(oxygen_prod),
            'Trees': geojson_to_dict(trees[['Name', 'geometry']])
        }
        
        circo_quarts.append(out_quart_dict)
    
    out_circo_dict = {
        'geometry': df_circoscrizioni.loc[circo, 'geometry'],
        'Name':circo,
        'Area': str(circo_area),
        'Count': str(circo_tree_count),
        'Canopy Cover (m2)': str(circo_canopy_cover),
        'Canopy Cover Density (perc)': str(100 * circo_canopy_cover / circo_area),
        'Oxygen Production (kg/yr)': str(circo_oxygen_prod),
        'Quartiere': geojson_to_dict(circo_quarts)
    }
    
    output_dicts.append(out_circo_dict)

In [44]:
output_df = gpd.GeoDataFrame(output_dicts)
output_df.head()

,geometry,Name,Area,Count,Canopy Cover (m2),Canopy Cover Density (perc),Oxygen Production (kg/yr),Quartiere
0,"POLYGON ((11.17163 46.08095, 11.17161 46.08106...",ARGENTARIO,13199398,454,12416.1,0.09406565360026267,6848.3,"{'type': 'FeatureCollection', 'features': [{'t..."
1,"POLYGON ((11.08026 46.11571, 11.08026 46.11571...",BONDONE,36949609,292,5979.599999999999,0.01618312117998326,4559.900000000001,"{'type': 'FeatureCollection', 'features': [{'t..."
2,"POLYGON ((11.12826 46.07593, 11.12802 46.07610...",CENTRO STORICO PIEDICASTELLO,8599464,2964,131189.1,1.5255497319367812,53818.399999999994,"{'type': 'FeatureCollection', 'features': [{'t..."
3,"POLYGON ((11.11614 46.10914, 11.11606 46.10909...",GARDOLO,8817959,1651,27279.5,0.3093629716354998,12353.7,"{'type': 'FeatureCollection', 'features': [{'t..."
4,"POLYGON ((11.11591 45.98873, 11.11644 45.98845...",MATTARELLO,16409555,264,4995.400000000001,0.030442019908522813,3492.6,"{'type': 'FeatureCollection', 'features': [{'t..."

In [45]:
output_df.to_file('../data_clean/a3.json')